/**
 * Tastenook Stylesheet v1.0
 * Created by Christian Schulmeister
 */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  color: #3b3b3b;
}

:root {
  font-size: 16px;
}

html,
body {
  margin: 0 auto;
}

h1,
h2 {
  font-family: 'Lobster', cursive;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.default-paragraph {
  line-height: 150%;
}

.stylized-paragraph::first-letter {
  font-size: 150%;
  color: #ff3333;
}

@supports (-webkit-background-clip: text) {
  .stylized-paragraph::first-letter {
    background: -webkit-gradient(linear, left top, right bottom, from(#ff3333), to(#ffc400));
    background: linear-gradient(to bottom right, #ff3333, #ffc400);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* --- General Button --- */

a,
button,
input[type="submit"] {
  text-decoration: none;
  color: inherit;
}

a:hover,
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

.simple-link {
  display: block;
  color: gray;
  margin: 5px 0px;
}

.simple-link:hover {
  color: #3b3b3b;
}

/* --- Bubble Button --- */

.bubble-button--small,
.bubble-button--med,
.bubble-button--large,
.bubble-button--icon {
  display: inline-block;
  margin: 5px 0px;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff3333), to(#ffc400));
  background: linear-gradient(to bottom right, #ff3333, #ffc400);
  background-size: 200% auto;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.bubble-button--small:hover,
.bubble-button--med:hover,
.bubble-button--large:hover,
.bubble-button--icon:hover {
  background-position: right center;
}

.bubble-button--inactive {
  display: inline-block;
  margin: 5px 0px;
  background: gray;
  background-size: 200% auto;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.bubble-button--inactive:hover {
  cursor: default;
}

.bubble-button--small {
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 1rem;
}

.bubble-button--med,
.bubble-button--inactive {
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 1.2rem;
}

.bubble-button--large {
  padding: 20px 60px;
  border-radius: 40px;
  font-size: 1.5rem;
}

.bubble-button--icon {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  font-size: 1rem;
}

.bubble-button--icon i {
  color: white;
}

/* --- Bar Button --- */

.bar-button--small,
.bar-button--large {
  position: relative;
}

.bar-button--small::after,
.bar-button--large::after {
  content: '';
  display: block;
  width: 0%;
  position: absolute;
  bottom: -5px;
  left: 0px;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff3333), to(#ffc400));
  background: linear-gradient(to bottom right, #ff3333, #ffc400);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.bar-button--small:hover::after,
.bar-button--large:hover::after {
  width: 100%;
}

.bar-button--small {
  font-size: 1rem;
}

.bar-button--small::after {
  height: 3px;
  border-radius: 1.5px;
}

.bar-button--large {
  font-size: 1.5rem;
}

.bar-button--large::after {
  height: 5px;
  border-radius: 2.5px;
}

.default-form__wrapper {
  padding: 2rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.default-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 0px 0px 0.3rem;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.default-form__input-group {
  position: relative;
  margin-bottom: 0.6rem;
}

.default-form__input-group::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 0.1rem;
  width: 100%;
  background: #cccccc;
}

.default-form__button-group {
  margin-bottom: 0.6rem;
}

.default-form__button-group input[type="submit"] {
  color: white;
}

.default-form__options-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 3rem;
  width: 100%;
  text-transform: uppercase;
}

.default-form__text-input {
  height: 3rem;
  width: 100%;
  position: relative;
  border: none;
  font-size: 1.5rem;
}

.default-form__star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0 auto;
  width: 100%;
  font-size: 2rem;
}

.default-form__star-rating span {
  position: relative;
  float: right;
  margin-right: 1rem;
}

.default-form__star-rating span input {
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 2rem;
  width: 2rem;
  opacity: 0;
}

.default-form__star-rating span input:hover {
  cursor: pointer;
}

.default-form__star-rating span i {
  color: gray;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.default-form__star-rating span:hover ~ span i,
.default-form__star-rating span:hover i {
  color: #ff3333;
  cursor: pointer;
}

.default-form__star-rating span.default-form__star-rating--checked i,
.default-form__star-rating span.default-form__star-rating--checked ~ span i {
  color: #ff3333;
  cursor: pointer;
}

.default-form__textarea textarea {
  border-radius: 1rem;
  height: 15rem;
  width: 100%;
  border: none;
  resize: none;
  font-size: 1.5rem;
  position: relative;
}

.search-form {
  width: 95%;
  position: relative;
}

.search-form__text-input {
  height: 40px;
  width: 100%;
  padding: 0px 40px 0px 15px;
  border: none;
  border-radius: 20px;
  background: white;
  font-size: 1.5rem;
}

.search-form__text-input:focus {
  -webkit-box-shadow: 0px 0px 0px 3px #ff3333;
          box-shadow: 0px 0px 0px 3px #ff3333;
}

.search-form__button {
  position: absolute;
  right: 5px;
  top: 0px;
}

.comment-form {
  height: 2rem;
  width: 100%;
}

.comment-form input[type="text"] {
  height: 2rem;
  width: calc(100% - 5rem);
  padding: 0.5rem;
  border: none;
  background: white;
  border-radius: 0.75rem;
  font-size: 1rem;
}

.comment-form input[type="submit"] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2rem;
  width: 4.5rem;
  margin: 0.25rem 0rem;
  border: none;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff3333), to(#ffc400));
  background: linear-gradient(to bottom right, #ff3333, #ffc400);
  background-size: 200% auto;
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.comment-form input[type="submit"]:hover {
  background-position: right center;
}

.hint {
  color: gray;
  font-weight: 700;
  text-transform: uppercase;
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.default-modal {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s 0s, -webkit-transform 0.5s;
  transition: visibility 0s linear 0.5s, opacity 0.5s 0s, -webkit-transform 0.5s;
  transition: visibility 0s linear 0.5s, opacity 0.5s 0s, transform 0.5s;
  transition: visibility 0s linear 0.5s, opacity 0.5s 0s, transform 0.5s, -webkit-transform 0.5s;
}

.default-modal--show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.5s 0s, -webkit-transform 0.5s;
  transition: visibility 0s linear 0s, opacity 0.5s 0s, -webkit-transform 0.5s;
  transition: visibility 0s linear 0s, opacity 0.5s 0s, transform 0.5s;
  transition: visibility 0s linear 0s, opacity 0.5s 0s, transform 0.5s, -webkit-transform 0.5s;
}

.default-modal__content {
  min-width: 500px;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
}

.default-modal__header {
  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-template-areas: "title close";
  height: 3rem;
  width: 100%;
}

.default-modal__header h2 {
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 1.5rem;
  margin: 1rem 0rem 0rem;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

.default-modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff3333), to(#ffc400));
  background: linear-gradient(to bottom right, #ff3333, #ffc400);
  background-size: 200% auto;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}

.default-modal__close:hover {
  cursor: pointer;
  background-position: right center;
}

.menu-modal {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s 0s;
  transition: visibility 0s linear 0.5s, opacity 0.5s 0s;
}

.menu-modal--show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0s linear 0s, opacity 0.5s 0s;
  transition: visibility 0s linear 0s, opacity 0.5s 0s;
}

.menu-modal__content {
  display: grid;
  grid-template-rows: 4rem 1fr;
  grid-template-areas: "header" "links";
  height: 100vh;
  left: -300px;
  position: absolute;
  background: whitesmoke;
  opacity: 0;
  -webkit-transition: left 0.5s, opacity 0.5s;
  transition: left 0.5s, opacity 0.5s;
}

.menu-modal__content--show {
  left: 0px;
  opacity: 1;
  -webkit-transition: left 0.5s, opacity 0.5s;
  transition: left 0.5s, opacity 0.5s;
  cursor: initial;
}

.menu-modal__header {
  grid-area: header;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-areas: "close logo";
  grid-gap: 0.5rem;
  padding: 0px 2rem;
}

.menu-modal__close {
  font-size: 2rem;
  color: gray;
}

.menu-modal__close-box {
  grid-area: close;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-modal__close:hover {
  cursor: pointer;
  color: #3b3b3b;
}

.menu-modal__logo {
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu-modal__logo h1 {
  margin: 0rem;
  color: #3b3b3b;
}

.menu-modal__links {
  grid-area: links;
  padding: 0rem 2rem;
}

.menu-modal__link-group {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-areas: "icon label";
  grid-gap: 1rem;
  height: 4rem;
  border-radius: 2rem;
  text-decoration: none;
}

.menu-modal__link-group:hover {
  background: #cccccc;
}

.menu-modal__link-icon {
  grid-area: icon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  color: #3b3b3b;
}

.menu-modal__link-label,
.menu-modal__link-label--sub {
  grid-area: label;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

.menu-modal__link-label--sub {
  font-size: 1.2rem;
  font-weight: 400;
}

.menu-modal__link-icon img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.gradient-divider {
  height: 0.2rem;
  width: 100%;
  border: none;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff3333), to(#ffc400));
  background: linear-gradient(to bottom right, #ff3333, #ffc400);
}

.default-divider {
  height: 0.1rem;
  width: 100%;
  border: none;
  background: #cccccc;
}

.background {
  height: 120vh;
  width: 120vw;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff3333), to(#ffc400));
  background: linear-gradient(to bottom right, #ff3333, #ffc400);
  position: fixed;
  margin-top: -70px;
  z-index: -1;
}

.landing {
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-template-areas: "main" "footer";
  min-height: 100vh;
  min-width: 100vw;
}

.landing__main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr repeat(2, 500px) 1fr;
  grid-template-rows: 1fr 300px 500px;
  grid-template-areas: ". . . ." ". logo logo ." ". cta login .";
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff3333), to(#ffc400));
  background: linear-gradient(to bottom right, #ff3333, #ffc400);
}

.landing__logo {
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing__logo h1 {
  color: whitesmoke;
  font-size: 7rem;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.landing__cta {
  grid-area: cta;
  margin-top: 4rem;
}

.landing__cta h2 {
  width: 100%;
  margin: 0rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  color: white;
}

.landing__cta-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 3rem;
  margin: 2rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.landing__cta-point i {
  color: white;
  font-size: 2rem;
}

.landing__cta-point--emphasized {
  font-weight: 700;
  text-transform: uppercase;
  color: #3b3b3b;
  font-size: 2rem;
  margin: 0rem 0.5rem;
  position: relative;
}

.landing__cta-point--emphasized::after {
  content: '';
  position: absolute;
  height: 0.2rem;
  width: 100%;
  border-radius: 0.1rem;
  top: 100%;
  left: 0;
  background: #3b3b3b;
}

.landing__login {
  grid-area: login;
  height: 500px;
  width: 500px;
  padding: 2rem;
  margin: 2rem 2rem 0px 0px;
  position: absolute;
  z-index: 5;
  border-radius: 2rem;
  background: whitesmoke;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.landing__footer {
  grid-area: footer;
  position: relative;
  z-index: 2;
  background: #cccccc;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.header {
  display: grid;
  grid-template-columns: 4rem 1fr 1fr 1fr;
  grid-template-areas: "menu-button logo search-bar user-panel";
  grid-gap: 0.5rem;
  height: 4rem;
  min-width: 100vw;
  padding: 0px 2rem;
  top: 0px;
  z-index: 100;
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.header__menu-button {
  grid-area: menu-button;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu-button i {
  font-size: 2rem;
  color: gray;
}

.header__menu-button i:hover {
  cursor: pointer;
  color: #3b3b3b;
}

.header__logo {
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__logo h1 {
  margin: 0rem;
  color: #3b3b3b;
}

.header__search-bar {
  grid-area: search-bar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-panel {
  grid-area: user-panel;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.user-panel__picture {
  margin-right: 1rem;
}

.user-panel__picture img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.user-panel__username {
  font-size: 1.5rem;
  margin-right: 1rem;
  font-weight: 700;
  color: #3b3b3b;
}

.user-panel__icons {
  margin-right: 1rem;
}

.user-panel__header {
  font-weight: 700;
  font-size: 1.5rem;
}

.user-panel__settings {
  position: absolute;
  top: calc(60px + 1rem);
  right: 0px;
  width: 250px;
  padding: 1rem;
  border-radius: 1rem;
  background: white;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.user-panel__trigger,
.user-panel__triggered,
.user-panel__notifications-trigger {
  font-size: 2rem;
  color: gray;
}

.user-panel__trigger:hover,
.user-panel__triggered:hover,
.user-panel__notifications-trigger:hover {
  cursor: pointer;
  color: #3b3b3b;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: "feed sidebar";
  width: 1000px;
  margin: calc(60px + 1rem) auto 0;
  position: relative;
  z-index: 1;
}

.default-post {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: 2.5rem 1.5rem 0.5rem 1fr 0.5rem 1.5rem;
  grid-template-areas: "image poster" "image posttime" ". ." "content content" ". ." "interactions interactions";
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: whitesmoke;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.default-post--with-comments {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: 2.5rem 1.5rem auto 1rem auto 2.5rem;
  grid-template-areas: "image poster" "image posttime" "content content" "interactions interactions" "comments comments" "addcomment addcomment";
}

.default-post__image {
  grid-area: image;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.default-post__image img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.default-post__poster {
  grid-area: poster;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.default-post__posttime {
  grid-area: posttime;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0px 0px 1rem 1rem;
  color: gray;
}

.default-post__content {
  grid-area: content;
}

.default-post__interactions {
  grid-area: interactions;
}

.default-post__interactions-group {
  height: 1.5rem;
  width: 4.5rem;
  background: none;
  border: none;
  border-radius: 0.75rem;
  font-size: 1rem;
  color: gray;
}

.default-post__interactions-group:hover {
  background: #cccccc;
  color: #3b3b3b;
}

.default-post__interactions i,
.default-post__interactions-number {
  color: inherit;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.default-post__comments {
  padding-top: 0.5rem;
  grid-area: comments;
}

.default-post__add-comment {
  grid-area: addcomment;
}

.default-comment {
  display: grid;
  grid-template-columns: 3rem 0.5rem 1fr;
  grid-template-rows: 1.5rem 1.5rem auto;
  grid-template-areas: "picture . poster" "picture . body" "   .    . body";
  margin: 0.25rem 0rem;
}

.default-comment__picture {
  grid-area: picture;
}

.default-comment__picture img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.default-comment__poster {
  grid-area: poster;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #3b3b3b;
  font-size: 1.2rem;
  font-weight: 700;
}

.default-comment__poster--data {
  margin-left: 0.5rem;
  color: gray;
  font-size: 1rem;
  font-weight: 400;
}

.default-comment__body {
  grid-area: body;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
}

.sidebar-box {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background: whitesmoke;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.trending-deals__header {
  font-weight: 700;
  font-size: 1.5rem;
}

.trending-deals__deal {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  height: 2rem;
}

.trending-deals__deal img {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.25rem;
  border-radius: 50%;
}

.trending-deals__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.5rem;
}

.trending-deals__trend-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.25rem;
}

.trending-deals__trend-icon i {
  color: white;
}

.trending-deals__trend-icon--up {
  background: #009c00;
}

.trending-deals__trend-icon--down {
  background: #e60000;
}

.profile {
  margin-top: -1.5rem;
  height: auto;
}

.profile__cover {
  margin: -1rem 0rem 0rem;
  width: 100%;
  height: 500px;
  border-bottom: 0.5rem solid whitesmoke;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.profile__content {
  display: grid;
  grid-template-columns: 300px 700px;
  grid-template-rows: repeat(3, 100px) 450px auto;
  grid-template-areas: "picture   .  " "picture title" "picture info" "  nav   info" "   .    info";
  width: 1000px;
  margin: -205px auto 0;
}

.profile__picture {
  grid-area: picture;
  display: relative;
  z-index: 1;
}

.profile__picture img {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  border: 0.5rem solid whitesmoke;
}

.profile__picture--shadow {
  display: block;
  height: 280px;
  width: 280px;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.profile__title {
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: calc(100% + 150px);
  margin-left: -150px;
  padding-left: 150px;
  background: whitesmoke;
  border-top-right-radius: 100px;
}

.profile__title h1 {
  font-size: 3rem;
}

.profile__title i {
  font-size: 3rem;
  margin-left: 1rem;
}

.profile__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 4rem;
  width: 280px;
  margin: 0.5rem 10px 0.5rem 0px;
  padding: 0rem 2rem;
  border-radius: 2rem;
  background: whitesmoke;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.profile__rating i {
  font-size: 1.5rem;
}

.profile__nav {
  grid-area: nav;
  margin-top: -1rem;
}

.profile__nav ul {
  list-style: none;
  padding: 0rem;
  margin: 0rem;
}

.profile__nav ul li a,
.profile__nav ul li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  width: 280px;
  margin: 0.5rem 10px 0.5rem 0px;
  border-radius: 2rem;
  background: whitesmoke;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.profile__nav ul li a:hover,
.profile__nav ul li a.active,
.profile__nav ul li button:hover,
.profile__nav ul li button.active {
  background: #cccccc;
}

.profile__info {
  grid-area: info;
  margin-top: 1rem;
}

.profile__review-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  border: none;
  background: whitesmoke;
  background-size: 200% auto;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  font-weight: 700;
  color: #3b3b3b;
}

.profile__review-button:hover {
  background: #cccccc;
}

.profile__menu {
  border-radius: 1rem;
  padding: 1rem;
  background: whitesmoke;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.profile__menu-header h2 {
  font-family: 'Roboto', sans-serif;
  margin: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.profile__menu-section-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.profile__menu-section-header h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0rem;
  font-size: 1.2rem;
}

.profile__menu-section-header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.profile__menu-item-group {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.profile__menu-item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.profile__menu-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.profile__gallery {
  border-radius: 1rem;
  padding: 1rem;
  background: whitesmoke;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.profile__gallery h2 {
  font-size: 1.5rem;
  margin: 0rem;
  font-family: 'Roboto', sans-serif;
}

.profile__gallery-slider {
  margin: 0rem 3rem;
}

.profile__gallery-slider img {
  height: 130px;
  margin: 0rem 0.5rem;
}

.default-post--review {
  display: grid;
  grid-template-columns: 4rem 1fr 8rem;
  grid-template-rows: 2.5rem 1.5rem 0.5rem 1fr 0.5rem 1.5rem;
  grid-template-areas: "   image       poster        rating   " "   image      posttime         .      " "     .            .            .      " "  content      content      content   " "     .            .            .      " "interactions interactions interactions";
}

.default-post__rating {
  grid-area: rating;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 0.5rem;
}

/* Currently unused partials
@import "partials/tables";
@import "partials/lists";
*/

