body {
  background-color: #1D2C3f;
}

#intro {
  width: 100%;
  height: 55vh;
  position: relative;
}

#intro::after {
  content: "";
  background-image: url("/images/landing.jpg");
  background-size: cover;
  background-position: center 55%;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#intro .container > .row {
  height: scretch;
}

#intro .container > .row #navbar #brand-name {
  color: #ffffff;
}

#intro .container > .row #navbar #brand-name h2 {
  display: inline-block;
  margin: 0;
  vertical-align: text-top;
  font-family: "Lobster", cursive;
}

#intro .container > .row #navbar #user-info a.nav-link {
  font-weight: 600;
  color: #ffffff !important;
  display: inline-block !important;
}

#intro .container > .row #navbar #user-info a.nav-link:hover {
  text-decoration: none;
}

#intro .container > .row #navbar #user-info img {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 50%;
}

