// Fonts
@import url("https://fonts.googleapis.com/css?family=Lobster|Raleway:300,400,600");


// Variables
@import "variables";
@import "colors";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.form-status {
  width: 50vw;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
}



.businesses {
    .business-heading {
        color: $white;
    }
    .business {
        background-color: $white;
        border-radius: 3px;

        .business-img img {
            width: 100%;
            height: 100%;
        }

        .business-info {
            a {
                color: $text-primary-color;
                text-decoration: none;
            }
            .business-status {
                color: $green;
            }
            .business-stats {
                .view-count, .review-count, .comment-count {
                    color: $text-accent-color;
                }
            }
        }
    }
}



// Font Awesome
@import '~font-awesome/scss/font-awesome';

// Dropzone
@import "~dropzone/dist/basic";
@import "~dropzone/dist/dropzone";

// Bootstrap Social Media Buttons - https://github.com/lipis/bootstrap-social
@import "~bootstrap-social/bootstrap-social.css";

@import "mixins";
@import "margins";
@import "helpers";
@import "typography";
@import "buttons";
@import "badges";
@import "panels";
@import "wells";
@import "modals";
@import "socials";
@import "forms";
@import "lists";
@import "avatar";
@import "logs";
@import "password";
@import "hideShowPassword";
@import "visibility";
@import "user-profile";
@import "navbar";

@import "rating";
@import "formRating";
@import "searchBar";
/* Business */
@import "business";
