@import "colors";
@import "~bootstrap/scss/mixins/_breakpoints";

a {
    color: $text-accent-color;

    &:active,
    &:hover {
        text-decoration: none;
    }
}

.carousel-slide {
    &__control {
        position: relative;
        bottom: 20%;
        left: 50%;
        background: $white;
        border-radius: 3px;
    }
}

.profile {
    margin-top: -1rem;
    @include media-breakpoint-up(lg) {
        margin-top: -3rem;
    }

    &__title {
        h1 {
            display: inline-block;
        }

        i {
            font-size: 2.25rem;
            margin-left: 5px;
            color: $red;
        }
    }

    &__rating {
        font-size: $h3-font-size;
    }

    &__maps {
        height: 30vh;
    }
}

.post__avatar {
    img {
        width: 75px;
        height: 75px;
        border: 1px solid $text-accent-color;
    }
}

.review {
    &__avatar {
        @extend .post__avatar;
    }
}
