/* --- General Button --- */

a, button, input[type="submit"] {
    text-decoration: none;
    color: inherit;

    &:hover {
        cursor: pointer;
    }
}

.simple-link {
    display: block;
    color: $gray-scale--med;
    margin: 5px 0px;

    &:hover {
        color: $gray-scale--dark;
    }
}

/* --- Bubble Button --- */
.bubble-button {
    &--small,
    &--med,
    &--large,
    &--icon {
        display: inline-block;
        margin: 5px 0px;

        background: $main-gradient;
        background-size: 200% auto;
        border: none;

        color: white;
        text-transform: uppercase;
        font-weight: $bold;
        

        &:hover {
            background-position: right center;
        }
    }

    &--inactive {
        display: inline-block;
        margin: 5px 0px;

        background: $gray-scale--med;
        background-size: 200% auto;
        border: none;

        color: white;
        text-transform: uppercase;
        font-weight: $bold;
        

        &:hover {
            cursor: default;
        }
    }

    &--small {
        padding: 5px 15px;
        border-radius: 15px;
        font-size: 1rem;
    }

    &--med,
    &--inactive {
        padding: 10px 30px;
        border-radius: 20px;
        font-size: 1.2rem;
    }

    &--large {
        padding: 20px 60px;
        border-radius: 40px;
        font-size: 1.5rem;
    }

    &--icon {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        font-size: 1rem;

        & i {
            color: white;
        }
    }
}

/* --- Bar Button --- */
.bar-button {
    &--small,
    &--large {
        position: relative;

        &::after {
            content: '';
            display: block;

            width: 0%;
            position: absolute;
            bottom: -5px;
            left: 0px;

            background: $main-gradient;
            transition: all ease-in-out 0.3s;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &--small {
        font-size: 1rem;

        &::after {
            height: 3px;
            border-radius: 1.5px;
        }
    }

    &--large {
        font-size: 1.5rem;

        &::after {
            height: 5px;
            border-radius: 2.5px;
        }
    }
}