.landing {
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
        "main"
        "footer";

    min-height: 100vh;
    min-width: 100vw;

    &__main {
        grid-area: main;

        display: grid;
        grid-template-columns: 1fr repeat(2, $half-wrapper-width) 1fr;
        grid-template-rows: 1fr 300px $half-wrapper-width;
        grid-template-areas:
            ". . . ."
            ". logo logo ."
            ". cta login .";

        position: relative;

        background: $main-gradient;
    }

    &__logo {
        grid-area: logo;

        display: flex;
        align-items: center;
        justify-content: center;

        & h1 {
            color: $gray-scale--light;
            font-size: 7rem;
            text-shadow: $light-shadow--text;
        }
    }

    &__cta {
        grid-area: cta;
        margin-top: 4rem;

        & h2 {
            width: 100%;
            margin: 0rem;

            font-family: 'Roboto', sans-serif;
            font-size: 2rem;
            text-align: center;
            text-shadow: $shadow--text;
            color: white;
        }

        &-point {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            width: 100%;
            height: 3rem;
            margin: 2rem 0rem;

            font-size: 1.5rem;
            font-weight: 400;
            color: white;
            text-shadow: $light-shadow--text;

            & i {
                color: white;
                font-size: 2rem;
            }

            &--emphasized {
                font-weight: $bold;
                text-transform: uppercase;
                color: $gray-scale--dark;
                font-size: 2rem;
                margin: 0rem 0.5rem;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    height: 0.2rem;
                    width: 100%;
                    border-radius: 0.1rem;
                    top: 100%;
                    left: 0;
                    background: $gray-scale--dark;
                }
            }
        }
    }

    &__login {
        grid-area: login;

        height: $half-wrapper-width;
        width: $half-wrapper-width;
        padding: 2rem;
        margin: 2rem 2rem 0px 0px;
        position: absolute;
        z-index: 5;

        border-radius: 2rem;
        background: $gray-scale--light;
        box-shadow: $light-shadow;
    }

    &__footer {
        grid-area: footer;

        position: relative;
        z-index: 2;
        background: $gray-scale--med-light;
        box-shadow: $extra-light-shadow;
    }
}